<!DOCTYPE html>
<html>
  <head>
    <title>K_Garden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#ヘッター%>
    <div class="header_container">
      <div class="headeer_wrapper">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "K_Garden", root_path %>
          </div>
          <%# ログインしているときは以下を表示するようにしましょう %>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "マイページ", "#", class: :nav__btn %>
              <%= link_to "ログアウト", destroy_user_session_path, class: :nav__logout, method: :delete %>
            </div>
          <% else %>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: :nav__btn %>
            </div>
          <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
      </div>
    </div>
    <%#ヘッター%>
    <%= yield %>
  </body>
</html>
